*, *::after, *::before {
    box-sizing: border-box;
}


:root {
    --primary-color: #0f3460;
    --secondary-color: #16213e;
    --accent-color: #e94560;
    --heading-color: #0f1123;
    --copy-color: #99a8b2;
}

html {
    font-size: 16px;
}

body {
    font-family: Popins, Arial, Helvetica, sans-serif;
    color: var(--copy-color);
    line-height: 1.5;
    font-size: 2.4rem;
}

h1,h2,h3 {
    color: var(--heading-color);
    margin-bottom: 1.5rem;
}

h1{font-size: 6rem;}

h2 { font-size: 4rem;}

h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

p {
    margin-top: 0;
}



/* desktop version */
@media screen and (min-width:1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 { font-size: 7rem;}

    h2 { font-size: 4rem;}

    h3 { font-size: 2.5rem;}
}


/* link styles */

a {
    text-decoration: none;
}

.link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    color: var(--accent-color);
}

/* arrow added */
.link::after {
    transition: margin .15s;
    margin-left: 5px;
    content:"-->";
    -webkit-transition: margin .15s;
    -o-transition: margin .15s;
    -ms-transition: margin .15s;
    -moz-transition: margin .15s;
}

.link:hover {
    color: #c93f84;
}

/* desktop version link */
@media screen and (min-width: 1024px) {
    .link {
        font-size: 1.5rem;
    }
}

.link:hover::after{
    margin-left: 10px;
}

/* end links */

/* badges  */

.badge {
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background-color:var(--primary-color);
    color: cornsilk;
}

.badge--secondary {
    background-color:var(--primary-color);
    color: cornsilk;
}


.badge--smallone {
    font-style: 1.5rem;
}

/* badge desktop */ 

@media screen and (min-width:1024px){
    .badge {
        font-size: 1.5rem;
    }

    .badge--smallone {
        font-size: 1.2rem;
    }
}
/* end  badge */


/* lists */ 

.list {
    list-style: none;
    padding-left: 0;
    color: var(--heading-color);
}

.inline--list .list__item {
 display: inline-block;
 margin-right: 2rem;
}

.tick--list {
    list-style-image: url(../imgs/check.svg);
    padding-left: 2.5em;
}

.tick--list .list__item {
    padding-left: 0.6rem;
    margin-bottom: 1rem;
}

/* desktop list */

@media screen and (min-width:1024px) {
    .tick--list .list__item {
        padding-left: 0;
    }
}


/* icons */

.icon {
    width: 32px;
    height: 32px;
}

.icon--primary {
    fill: var(--primary-color);
}

.icon-container {
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    align-items: center;
    background-color:#e2eafc;
    border-radius: 100%;
    display:flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}


/* buttons */

.btn {
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 2rem 3rem;
    margin: 1rem 0;
    white-space: nowrap;
    transition:background-color ease-in .2s;
    -webkit-transition:background-color ease-in .2s;
    -moz-transition:background-color ease-in .2s;
    -ms-transition:background-color ease-in .2s;
    -o-transition:background-color ease-in .2s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}


.btn--primary {
    background-color:var(--primary-color);
    color: cornsilk;
}

.btn--secondary {
    color: cornsilk;
    background-color:var(--secondary-color);
}

.btn--accent {
    color: cornsilk;
    background-color:var(--accent-color);
}


/* states */
.btn--primary:hover {
    background-color: #0f1ba6 ;
}

.btn--secondary:hover {
    background-color: #2f3683 ;
}

.btn--accent:hover {
    background-color: #c93f84;
}

.btn--outlined:hover {
    color: cornsilk;
    background-color:var(--heading-color);
}

/* full width button */

btn--full {
    width: 100%;
    display: inline-block;
}

/* outlined button */

.btn--outlined {
    background-color: #fff;
    color: var(--heading-color);
    border: 2px solid var(--heading-color);
}

/* button desktop version */ 

@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.4rem;
    }
}

/* end btn */


/* input component */

.input {
    padding: 1.5rem 2.5rem;
    outline: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid slategray;
    color: var(--heading-color);
    caret-color: #16213e;
}

::placeholder {
    font-style: italic;
    font-size: 1.2rem;
    color: #c4c4c4;
}

@media screen and (min-width:1024px) {
    .input {
        font-size:1.5rem;
    }
}

.input-group {
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 2rem 1rem;
}

.input-group .btn {
    margin: 5px;
}

/* card */

/* Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
  }
  
  .card__header,
  .card__body {
    padding: 2rem 3rem;
  }
  
  .card--primary .card__header {
    background: var(--primary-color);
    color:cornsilk;
  }
  
  .card--secondary .card__header {
    background: var(--secondary-color);
    color:cornsilk;
  }

  /* end card */


  /* plans style */

  .plan__name {
    color:cornsilk;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
  }
  
  .plan__price {
    font-size: 6rem;
  }
  
  .plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
  }
  
  .plan__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
  }
  
  .plan .list__item {
    margin-bottom: 2rem;
  }
  
  .plan--popular .card__header {
    position: relative;
  }
  
  .plan--popular .card__header::before {
    content: url(../imgs/popular.svg);
    width: 50px;
    display: inline-block;
    position: absolute;
    top: -3px;
    right: 6%;
  }
  
  @media screen and (min-width: 1024px) {
    .plan__name {
      font-size: 1.4rem;
    }
  
    .plan__price {
      font-size: 5rem;
    }
  
    .plan__billing-cycle {
      font-size: 1.6rem;
    }
  
    .plan__description {
      font-size: 1.7rem;
    }
  }
  
  