<!-- features -->
<section class="block article">
  <header class="block__header">
    <h2>Host your projects on the cloud</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse aut tenetur
      obcaecati ea ipsam, velit tempore ducimus veritatis quis deserunt?
    </p>
  </header>
  <article class="grid grid--1x2 featureArticle">
    <div>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="imgs/sprites.svg#laptop"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Effortles Usage</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
        asperiores eius provident! Ex, minus deserunt.
      </p>
      <a href="#" class="link">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="imgs/easy.webp 1x, imgs/easy@2x.webp 2x"
      />

      <source type="image/jpg" srcset="imgs/easy.jpg 1x, imgs/easy@2x.jpg 2x" />

      <img
        class="feature__image"
        src="imgs/easy@2x.jpg"
        alt="decorative img "
      />
    </picture>
  </article>

  <article class="grid grid--1x2 featureArticle">
    <div>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="imgs/sprites.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Full Wordpress Support</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
        asperiores eius provident! Ex, minus deserunt. Lorem ipsum dolor sit
        amet.
      </p>
      <a href="#" class="link">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="imgs/wordpress.webp 1x, imgs/wordpress@2x.webp 2x"
      />

      <source
        type="image/jpg"
        srcset="imgs/wordpress.jpg 1x, imgs/wordpress@2x.jpg 2x"
      />

      <img
        class="feature__image"
        src="imgs/wordpress@2x.jpg"
        alt="decorative img "
      />
    </picture>
  </article>

  <article class="grid grid--1x2 featureArticle">
    <picture>
      <img
        class="feature__image"
        src="imgs/fast@2x.jpg"
        alt="decorative img "
      />
      <source
        type="image/webp"
        srcset="imgs/fast.webp 1x, imgs/fasts@2x.webp 2x"
      />

      <source type="image/jpg" srcset="imgs/fast.jpg 1x, imgs/fast@2x.jpg 2x" />
    </picture>
    <div>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="imgs/sprites.svg#trend"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Detailed Analytics</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
        asperiores eius provident! Ex, minus deserunt. Lorem ipsum dolor sit
        amet consectetur.
      </p>
      <a href="#" class="link">Learn More</a>
    </div>
  </article>
</section>
