<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collaps collaps--expanded footer__section">
      <header class="collaps__header">
        <h2 class="collaps__heading footer--heading">Info</h2>
        <svg class="icon collapsed__chevron">
          <use xlink:href="imgs/sprites.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsed__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Mision</a></li>
          <li><a href="#">Terms and Conditions</a></li>
        </ul>
      </div>
    </section>
    <section class="collaps footer__section">
      <header class="collaps__header">
        <h2 class="collaps__heading footer--heading">Services</h2>
        <svg class="icon collapsed__chevron">
          <use xlink:href="imgs/sprites.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsed__content">
        <ul class="list">
          <li><a href="#">WebHosting</a></li>
          <li><a href="#">Migrations</a></li>
          <li><a href="#">Analytics</a></li>
        </ul>
      </div>
    </section>
    <section class="collaps footer__section">
      <header class="collaps__header">
        <h2 class="collaps__heading footer--heading">Help</h2>
        <svg class="icon collapsed__chevron">
          <use xlink:href="imgs/sprites.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsed__content">
        <ul class="list">
          <li><a href="#">Carreers</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </section>
    <section class="branding">
      <img src="imgs/logo.svg" alt="logoCompany" />
      <small>&copy;2021 CloudSome</small>
    </section>
  </div>
</footer>
