<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. In laborum
    inventore veritatis nesciunt doloribus quia cumque accusantium, consequatur
    fugit expedita maiores exercitationem quibusdam architecto?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote_line">
          <use xlink:href="imgs/sprites.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John McWade</h3>
        <p class="quote_company">Lone Ranger.inc</p>
      </div>
    </div>
  </footer>
</blockquote>
